@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=VT323&display=swap");

:root {
  /* COLORS */
  --bg-color: #1a1a1b;
  --primary-color: #500073;
  --text-color: #f9edff;

  /* FONTS */
  --text-font: "Inter";
  --special-font: "VT323";

  --nav-font-size: 36px;
  --section-title-font-size: 56px;
  --normal-text-font-size: 24px;

  /* HERO */
  --hero-title-font-size: 90px;

  /* RHOMBUSES */
  --rhombus-size: 150px;
  --rhombus-opacity: 0.3;

  --rhombus-left-margin: 0 0 0 -64px;
  --rhombus-left-angle: -26.73deg;

  --rhombus-right-margin: -48px 64px 0 0;
  --rhombus-right-angle: 38.02deg;

  /* CARD */
  --cards-color: #2e2e2e;

  --cards-gap: 42px;

  --cards-width: 400px;
  --cards-height: 234px;

  --cards-padding-top: 18px;
  --cards-padding-right: 30px;
  --cards-padding-bottom: 24px;
  --cards-padding-left: 30px;

  --cards-title-font-size: 36px;

  /* SKILLS ICONS */
  --skills-icons-gap: 33px;
  --skills-icons-row-gap: 14px;
  --skills-icons-size: 58px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--text-font);
  margin: 0;
}

#nav-list {
  list-style: none;
  display: flex;
  gap: 42px;
  justify-content: center;
  font-family: var(--special-font);
  font-size: var(--nav-font-size);
}

main {
  margin: 0 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > article {
  margin-top: 7em;
  max-width: 1500px;
  width: 100%;
}

h2 {
  font-size: var(--section-title-font-size);
}

section > p {
  font-size: var(--normal-text-font-size);
  margin-left: 2.5em;
}

.hero {
  display: flex;
  align-items: center;
}

.hero-image > img {
  border-radius: 50%;
}

.hero-title {
  padding-left: 1em;
  margin: 0.5em 0;
  font-family: var(--special-font);
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: normal;
  font-size: var(--hero-title-font-size);
}

.social-links {
  margin-top: 0.6em;
}

.social-links > a {
  text-decoration: none;
}

.lorem-about-placeholder {
  display: flex;
  flex-direction: column;
  position: relative;
}

.rhombus-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

.rhombus__left {
  margin: var(--rhombus-left-margin);
  rotate: var(--rhombus-left-angle);
  align-self: end;
}

.rhombus__right {
  margin: var(--rhombus-right-margin);
  rotate: var(--rhombus-right-angle);
}

.rhombus__left,
.rhombus__right {
  width: var(--rhombus-size);
  height: var(--rhombus-size);
  background: url(images/3DRhombus.png) left;
  background-size: var(--rhombus-size);
  opacity: var(--rhombus-opacity);
}

.skills-cards {
  display: grid;
  gap: var(--cards-gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--cards-width), 1fr));
  justify-items: center;
}

.card {
  border: 1px solid;
  border-radius: 25px;
  padding-top: var(--cards-padding-top);
  padding-right: var(--cards-padding-right);
  padding-bottom: var(--cards-padding-bottom);
  padding-left: var(--cards-padding-left);
  width: calc(var(--cards-width) - var(--cards-padding-left) * 2);
  height: calc(
    var(--cards-height) - var(--cards-padding-top) - var(--cards-padding-bottom)
  );
}

.card h2 {
  font-family: var(--special-font);
  font-size: var(--cards-title-font-size);
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
}

.skills-icons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--skills-icons-gap);
  row-gap: var(--skills-icons-row-gap);
}

.skills-icons img {
  width: var(--skills-icons-size);
  height: var(--skills-icons-size);
}

/* MOBILE */
@media (max-width: 768px) {
  :root {
    --section-title-font-size: 32px;
    --hero-title-font-size: 52px;
    --normal-text-font-size: 20px;

    /* CARD */
    --cards-gap: 28px;

    --cards-width: 326px;
    --cards-height: 209px;

    --cards-padding-top: 16px;
    --cards-padding-right: 27px;
    --cards-padding-bottom: 30px;
    --cards-padding-left: 27px;

    --cards-title-font-size: 32px;

    /* SKILLS ICONS */
    --skills-icons-gap: 30px;
    --skills-icons-row-gap: 22px;
    --skills-icons-size: 43px;
  }

  nav {
    display: none;
  }

  main {
    margin: 0 2em;
  }

  section > p {
    margin-left: 1em;
  }

  .hero {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .hero-title {
    padding-left: 0;
  }

  .lorem-about-placeholder {
    margin-left: 0;
  }
}

@media (max-width: 375px) {
  :root {
    --skills-icons-size: 35px;
    --cards-width: 290px;
  }
}
